*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p {
  margin-bottom: 0.2rem;
}

.container {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

.panel {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  width: 100%;
}

textarea {
  resize: vertical;
  width: 100%;
  flex-grow: 1;
  color: inherit;
  min-height: 600px;
}

.input-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#main-content {
  display: flex;
  gap: 1rem;
}

body {
  margin: 1rem;
}

.config-container {
  margin-left: 0;
  min-width: 320px;
}

#config {
  min-height: 300px;
}

.tab-group-buttons button {
  border: none;
  padding: 0.5rem;
  color: rgb(115, 114, 114);
  background: none;
  cursor: pointer;
}

.tab-group-buttons button.active {
  color: black;
  cursor: default;
  border-bottom: 2px solid blue;
}

.tab-group-buttons button:not(.active):hover {
  background: rgb(241, 241, 241);
  border-bottom: 2px solid rgb(241, 241, 241);
  color: black;
}

.svg-container {
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  cursor: grab;
}

.svg-container svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
