*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p {
  margin-bottom: 0.2rem;
}

.container {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

.panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

textarea {
  resize: vertical;
  min-height: 300px;
  width: 100%;
  flex-grow: 1;
}

.input-container {
  position: relative;
  display: flex;
  flex-grow: 1;
}

body {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

.config-container {
  margin-left: 0;
  min-width: 320px;
}

#output {
  color: inherit;
}
